<ul ng-controller="feed" class="collapsible git-feed hoverable" data-collapsible="accordion" ng-controller="controller">
	<li>
		<div class="collapsible-header active blue darken-1 white-text" ng-click="swapArrow()">
			<i class="material-icons">view_list</i>Github Feed
			<i class="material-icons right">{{gitArrow}}</i>
		</div>
		<div class="collapsible-body">
			<div class="row">
				<div class="col s12">
					<a class="waves-effect waves-dark white black-text btn" ng-click="gitSummarize()">{{gitSummarizeButton}}</a>
				</div>
			</div>
			<div class="row">
				<ul>
					<li ng-repeat="feed in feeds | limitTo:gitShowAmount" class="fade">
						<p><a ng-if="gitSummary" target="_new" href="" ng-bind-html="feed.title"></a></p>
						<p class="git-content" ng-bind-html="!gitSummary ? feed.content : feed.contentSnippet"></p>
						<div class="divider"></div>
					</li>
				</ul>
			</div>

			<div class="row">
				<div class="col s12">
					<a class="waves-effect waves-dark white black-text btn" ng-click="show()">{{gitShowButton}}</a>
				</div>
			</div>
		</div>
	</li>
</ul>

<!-- <div ng-repeat="feed in feeds" class="item" ng-class="{active: $index==0}">
	<p class="text-center"><a target="_new" href="" ng-bind-html="feed.title"></a></p>
	<p ng-bind-html="!summary ? feed.content : feed.contentSnippet"></p>
</div> -->

<script type="text/javascript">
	$(document).ready(function(){
		$('.collapsible').collapsible({
			accordion : false
		});
	});
</script>
