<html ng-app="app">
    <head>
        <title>Bank App - Account</title>
        <meta charset="utf-8" />

        <!--Bootstrap Css-->
        <link rel="stylesheet" type="text/css" href="./Content/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="./Content/style.css">
        <!--Angular-Chartjs Css-->
        <link rel="stylesheet" href="./Content/angular-chart.min.css">

    </head>
    <body ng-controller="Account as controller">

        <!--Header-->
        <div class="jumbotron">
            <div class="container">
                <h1>Mock Bank App</h1>
                <!--Navlinks-->
                <nav class="nav navheader">
                    <a class="navlink active" href="/bankapp/index.html">
                        Account
                    </a>
                    <a class="navlink" href="/bankapp/interest.html">
                        Interest Calculators
                    </a>
                </nav>
            </div>
        </div>
        <!--Header End-->

        <!--Body-->

        <div class="container">
            <div class="panel panel-default">
                <div class="panel-body">
                    <!--Account table-->
                    <div class="col-md-5">
                        <h2>Bank Account</h2>
                        <p>Account Balance: <span ng-cloak>${{controller.balance()}}</span></p>
                        <table class="table table-bordered table-hover">
                            <!--Table header-->
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Date</th>
                                    <th>Type</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <!--Table body-->
                            <tbody>
                                <tr ng-cloak ng-repeat="entry in controller.entries track by $index">
                                    <td>{{entry.name}}</td>
                                    <td>{{entry.date}}</td>
                                    <td>{{entry.type}}</td>
                                    <td class="{{entry.type}}">
                                        ${{entry.cost}}
                                        <a style="float: right;" ng-click="controller.removeEntry(entry)">
                                            <span class="glyphicon glyphicon-remove" style="cursor: pointer;"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--Entry form-->
                    <div class="col-md-3">
                        <h2>Summary</h2>

                        <!--Tab links-->
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#overview">Overview</a></li>
                            <li><a data-toggle="tab" href="#income">Income</a></li>
                            <li><a data-toggle="tab" href="#expenses">Expenses</a></li>
                        </ul>

                        <!--Tab content-->
                        <div class="tab-content">
                            <!--Overview chart-->
                            <div id="overview" class="tab-pane fade in active">
                                <p class="no-data" ng-show="controller.overviewData[0] == 0 && controller.overviewData[1] == 0"><i>No data to show.</i></p>
                                <div ng-show="controller.overviewData[0] != 0 || controller.overviewData[1] != 0">
                                    <canvas id="piechartOverview" class="chart chart-pie" chart-options="{animationEasing : 'easeInOutCubic'}"
                                            chart-data="controller.getOverviewData()" chart-labels="controller.overviewLabels"
                                            chart-colours="controller.overviewColors" chart-legend="true"></canvas>
                                </div>
                            </div>
                            <!--Income chart-->
                            <div id="income" class="tab-pane fade">
                                <p class="no-data" ng-show="controller.incomeData[0] == 0 || controller.incomeData[0] == null"><i>No data to show.</i></p>
                                <div ng-show="controller.incomeData[0] != null">
                                    <canvas id="piechartIncome" class="chart chart-pie" chart-options="{animationEasing : 'easeInOutCubic'}"
                                            chart-data="controller.getIncomeData()" chart-labels="controller.getIncomeLabels()" chart-legend="true"></canvas>
                                </div>
                            </div>
                            <!--Expense chart-->
                            <div id="expenses" class="tab-pane fade">
                                <p class="no-data" ng-show="controller.expensesData[0] == 0 || controller.expensesData[0] == null"><i>No data to show.</i></p>
                                <div ng-show="controller.expensesData[0] != null">
                                    <canvas id="piechartExpenses" class="chart chart-pie" chart-options="{animationEasing : 'easeInOutCubic'}"
                                            chart-data="controller.getExpensesData()" chart-labels="controller.getExpensesLabels()" chart-legend="true"></canvas>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--Entry form-->
                    <div class="col-md-4">
                        <h2>New Entry</h2>

                        <form name="entryForm" class="form-horizontal" role="form" novalidate>

                            <!--Name input-->
                            <div class="form-group" ng-class="{ 'has-error' : entryForm.name.$invalid && entryForm.name.$touched }">
                                <label for="name" class="control-label col-sm-2 pull-left">Name:</label>
                                <div class="col-sm-10 pull-right">
                                    <input type="text" name="name" class="form-control" ng-model="controller.formEntryName" required />
                                    <p ng-cloak ng-if="entryForm.name.$invalid && entryForm.name.$touched" class="help-block">Name is required.</p>
                                </div>
                            </div>

                            <!--Date input-->
                            <div class="form-group">
                                <label for="date" class="control-label col-sm-2 pull-left">Date:</label>
                                <div class="col-sm-10 pull-right">
                                    <input type="date" ng-disabled="controller.cantInputDate()" name="date" class="form-control" ng-model="controller.formEntryDate" />
                                    <p ng-cloak ng-if="controller.cantInputDate()" class="help-block">Date is not supported on your current browser. Today's date will be used instead.</p>
                                </div>
                            </div>

                            <!--Type select-->
                            <div class="form-group" ng-class="{ 'has-error' : entryForm.type.$invalid && entryForm.type.$touched}">
                                <label for="type" class="control-label col-sm-2 pull-left">Type:</label>
                                <div class="col-sm-5">
                                    <select ng-model="controller.formEntryType" class="form-control" name="type" required>
                                        <option value="" style="display: none;" disabled>Please select</option>
                                        <option value="Expense">Expense</option>
                                        <option value="Income">Income</option>
                                    </select>
                                </div>
                                <p ng-cloak ng-if="entryForm.type.$invalid && entryForm.type.$touched" class="help-block">Type selection is required.</p>
                            </div>

                            <!--Cost input-->
                            <div class="form-group" ng-class="{ 'has-error' : entryForm.cost.$invalid && entryForm.cost.$touched }">
                                <label for="cost" class="control-label col-sm-2 pull-left">Value:</label>
                                <div class="col-sm-10 pull-right">
                                    <input type="number" name="cost" class="form-control" ng-model="controller.formEntryCost" required />
                                    <p ng-cloak ng-if="entryForm.cost.$invalid && entryForm.cost.$touched" class="help-block">Value is required.</p>
                                </div>
                            </div>

                            <button type="submit" ng-disabled="entryForm.$invalid" ng-click="controller.addEntry()" class="btn btn-default">
                                <span class="glyphicon glyphicon-plus"></span> Add Entry
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--Body End-->

        <!--Footer-->
        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <p class="navbar-text">
                    <a href="http://nickmckloski.com/" target="_blank">Nick Mckloski</a> -
                    This demo was made using AngularJS, the Bootstrap framework. You can view the entire source
                    <a href="https://github.com/NickMckloski/nickmckloski.com/tree/master/bankapp" target="_blank">here</a>.
                </p>
            </div>
        </div>
        <!--Footer End-->

        <!--Bootstrap libraries-->
        <script src="./Scripts/jquery/jquery-2.1.4.min.js"></script>
        <script src="./Scripts/bootstrap/bootstrap.min.js"></script>
        <!--Angular Dependencies-->
        <script src="./Scripts/chartjs/Chart.min.js"></script><!--ChartJS is a dependency of Angular-Chartjs-->
        <!--Angular libraries-->
        <script src="./Scripts/angular/angular.min.js"></script>
        <script src="./Scripts/angular/cookies/angular-cookies.min.js"></script>
        <script src="./Scripts/angular/chart/angular-chart.min.js"></script>
        <!--Angular app and controller-->
        <script src="./app/app.module.js"></script>
        <script src="./app/controllers/Account.js"></script>

    </body>
</html>
